.heroTextBox {
	height: 800px;
	background-image: url('../img/hammer.jpg');
	background-position: top;
	background-size: cover;
	border-bottom: 2px solid black;

	.heroTextWrap {
		margin: 40px auto;
		width: 40%;
		.tagline {
			color: $primary;
			font-weight: lighter;
			text-align: center;
			font-size: 2.3em;
			margin-top: 40px;
		}

		.headShotBox {
		  margin-top: 50px;
		  margin-bottom: 30px;
		  text-align: center;

		  img {
		    width: 250px;
		  	height: 250px;
		  	border-radius: 150px;
		  	-webkit-border-radius: 150px;
		  	-moz-border-radius: 150px;
				box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
		    margin: 0 auto;
		  }
		}

		.talkAboutIt {
			font-style: italic;
			text-decoration: none;
			color: $primary;
			font-size: 1.7em;
			font-weight: lighter;
			display: block;
			width: 370px;
			margin: 10px auto;
			text-align: center;
			letter-spacing: 0;
			transition: 0.2s;
		}

		.talkAboutIt:active,
		.talkAboutIt:hover {
			color: $secondary;
			// text-shadow: 2px 2px 8px $primary;
			letter-spacing: 4px;
			transition: 0.2s;
		}
	}
}
